.main_cart_box {
  position: absolute;
  top: 20%;
  display: block;
  width: 46%;
  left:  25%;
  margin: 0% auto;
  background-color: white;
  outline: 10000px solid rgba(0, 0, 0, 0.75);
  padding: 2%;
  border-radius: 20px;
}

.cart_amount {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 10%;
}

.msg {
  text-align: left;
}

.totalAmount {
  text-align: right;
}

.cart_btns {
  display: flex;
  float: right;
}
